body
{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Arial';
}
.login{
        width: 300px;
        height: 400px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 300px;
        padding: 80px;
        background:#4f666a ;
        align-items: center;
        margin-top: 100px;

}
h1{
    text-align: center;
    color:azure;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* padding: 20px; */
}
label{
    color:beige;
    font-size: 20px;
    font-style:inherit;
}
#Uname{
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 1px;
    padding-left: 8px;
    background-color: #ffffff96;
}
#Pass{
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 1px;
    padding-left: 8px;
    background-color: #ffffff96;
}
#log{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 7px;
    padding-bottom: 4px;
    color: black;
    padding-left: 5px;
    font-size: medium;
    cursor: pointer;
    transition: .5s;
    background-color: #fffffffe;
    padding: 10px 20px;
}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}

.btn {
    background-color:#c0c0c0;
    margin-right: auto;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    
  }

  .btn1 {
    background-color:#c0c0c0;
    border: none;
    color: white;
    padding: 12px 26px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    font-style: normal;
  }